<h1 class="page-header"><i class="fa fa-folder-open"></i> Contact Informations
    <a class="btn btn-default" href="#/client"><i class="fa fa-backward"></i> Back to Contacts List</a></h1>
<div class="col-md-5  toppad  pull-right col-md-offset-3 ">

    <p class=" text-info">Client Added: {{client.created | date:'MM/dd/yyyy @ h:mma'}} </p>
    <p class=" text-info">Last update : {{client.last_modified | date:'MM/dd/yyyy @ h:mma'}} </p>


</div>
<br>
<br>
<br>
<br>

<div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ client.first_name }} {{ client.last_name }}</h3>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <img alt="User Pic"
                        src="css/img/users.jpg"
                         class="img-circle"
                            width="200"
                            height="180">

                </div>


                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Category:</td>
                            <td><code>{{client.category}}</code></td>
                        </tr>

                        <tr>
                            <td>Company:</td>
                            <td>{{client.company}}</td>
                        </tr>

                        <tr>
                            <td>Type:</td>
                            <td>{{client.type_client}} </td>
                        </tr>

                        <tr>
                            <td>Address:</td>
                            <td>{{client.address}}</td>
                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td>{{ client.email }}</td>
                        </tr>



                        <tr>
                            <td>Note:</td>
                            <td>{{client.note}}</td>
                        </tr>


                        </tbody>
                    </table>


                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" href="#/client"
               class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-list"></i> </a>

                        <span class="pull-right">
                            <a href="#/update/{{client.id}}" data-original-title="Edit this user" data-toggle="tooltip"
                               type="button"
                               class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>

                            <button class="btn btn-sm btn-danger" data-toggle="modal"
                                    data-target=".bs-example-modal-lg">
                                <span class="fa fa-trash-o"></span>

                            </button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                         aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">

                            <div class="modal-content">
                                <div class="modal-body">Are you sure you want delete this Client?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" ng-click="delete(client)"
                                            data-dismiss="modal">Delete
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                        </span>
        </div>

    </div>
</div>
