<h2 class="page-header"><i class="fa fa-plus-circle"></i> New Contact</h2>
<div class="row">
    <!-- left column -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
            <img src="css/img/add-user.png" class="avatar img-circle img-thumbnail" alt="avatar"
                    width="180"
                    height="200">

        </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">



        <form class="form-horizontal" name="clientSubmitForm" ng-submit="submitInsert(clientSubmitForm.$valid)"
              novalidate>

            <!-- first_name -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.first_name.$invalid && !clientSubmitForm.first_name.$pristine }">

                <label class="col-lg-3 control-label">First Name(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="text" name="first_name" placeholder="First Name"
                           ng-model="first_name"
                           autofocus="true" ng-minlength="3" required/>

                    <p ng-show="clientSubmitForm.first_name.$error.minlength" class="help-block">First Name is too
                        short. It must be at least 3 characters.</p>

                </div>
            </div>

            <!-- last_name -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.last_name.$invalid && !clientSubmitForm.last_name.$pristine}">

                <label class="col-lg-3 control-label">Last Name(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="text" name="last_name" placeholder="Last Name"
                           ng-model="last_name" ng-minlength="3" required/>

                    <p ng-show="clientSubmitForm.last_name.$error.minlength" class="help-block">Last Name is too short.
                        It must be at least 3 characters. </p>


                </div>
            </div>

            <!-- email-->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.email.$invalid && !clientSubmitForm.email.$pristine }">

                <label class="col-lg-3 control-label">Email(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="email" placeholder="@..." name="email" ng-model="email"
                           required/>

                    <p ng-show="clientSubmitForm.email.$invalid && !clientSubmitForm.email.$pristine"
                       class="help-block">Enter a valid email</p>
                </div>
            </div>

            <!-- address -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.address.$invalid && !clientSubmitForm.address.$pristine }">
                <label class="col-lg-3 control-label">Address(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" name="address" type="text" placeholder="city..." ng-model="address"
                           ng-minlength="5" required/>

                    <p ng-show="clientSubmitForm.address.$error.minlength" class="help-block">The address is too
                        short. It must be at least 5 characters.</p>
                </div>
            </div>

            <!-- company -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.company.$invalid && !clientSubmitForm.company.$pristine }">
                <label class="col-lg-3 control-label">Company(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="text" placeholder="Company" name="company" ng-model="company"
                           required/>
                </div>
            </div>

            <!-- client type -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.type_client.$invalid && !clientSubmitForm.type_client.$pristine}">
                <label class="col-lg-3 control-label">Type(*):</label>

                <div class="col-lg-8">

                    <select class="form-control" name="type_client" ng-model="type_client" required/>
                    <option value="Entreprise">Entreprise</option>
                    <option value="Particular">Particular</option>
                    </select>


                </div>
            </div>


            <!-- client category-->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.category.$invalid && !clientSubmitForm.category.$pristine}">
                <label class="col-lg-3 control-label">Category(*):</label>

                <div class="col-lg-8">

                    <select name="category" class="form-control"  ng-model="category" required/>
                        <option value="Prospect">Prospect</option>
                        <option value="Client">Client</option>
                        <option value="Supplier">Supplier</option>
                        <option value="Partner">Partner</option>
                        <option value="Partner">other</option>

                    </select>

                </div>
            </div>

            <!-- note -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientSubmitForm.type_client.$invalid && !clientSubmitForm.type_client.$pristine}">
                <label class="col-lg-3 control-label">Note(*):</label>

                <div class="col-lg-8 ">

                    <textarea class="form-control" name="note" placeholder="some note..." ng-model="note" required/>

                    </textarea>
                </div>
            </div>

            <!-- submit button -->

            <div class="form-group">
                <label class="col-md-3 control-label"></label>

                <div class="col-md-8">
                    <!--
                     <input class="btn btn-primary" value="Save Changes" type="button" ng-click="submitInsert()">
                     -->

                    <button type="submit" class="btn btn-primary" ng-disabled="clientSubmitForm.$invalid">Submit
                    </button>
                    <span></span>
                    <input class="btn btn-default" value="Cancel" type="button" ng-click="cancelInsert()">
                </div>
            </div>

        </form>
    </div>
</div>
