<h1><i class="fa fa-users fa-lg"></i> Contacts</h1>
<hr>
<div class="row">

    <div class="col-lg-5">

        <div class="input-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>

    <div class="col-lg-3"></div>

    <div class="col-lg-4">
        <button class="btn btn-primary btn-sm" ng-click="invite()">
            <span class="glyphicon glyphicon-plus-sign"></span> New Contact

        </button>
    </div>


</div>

<div><h1></h1></div>
<div class="col-lg-10">

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th><a href="" ng-click="predicate = 'first_name'; reverse=!reverse">First Name </a></th>
            <th><a href="" ng-click="predicate = 'last_name'; reverse=!reverse">Last Name</a></th>
            <th><a href="" ng-click="predicate = 'category'; reverse=!reverse">Category</a></th>
            <th><a href="" ng-click="predicate = 'company'; reverse=!reverse">Company</a></th>

            <th>
                <center>Actions</center>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in clients |filter:search  | orderBy:predicate:reverse track by client.id">
            <td>
                {{ $index + 1 }}

            </td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>

            <td>
                <div class="cell">
                    <code>{{client.category}}</code>
                </div>
            </td>

            <td>{{client.company}}</td>

            <td>

                <div class="btn-group pull-right">
                    <button ng-click="readClient(client)" class="btn btn-sm btn-success">
                        <span class="fa fa-info"></span> Info
                    </button>

                    <button ng-click="update(client)" class="btn btn-sm btn-warning">
                        <span class="fa fa-pencil"></span> Edit
                    </button>

                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg">
                        <span class="fa fa-times"></span> Remove
                    </button>

                </div>

            </td>
            
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">

                    <div class="modal-content">
                        <div class="modal-body">Are you sure you want delete this Contact?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    ng-click="delete(client)"
                                    >Delete
                            </button>
                        </div>

                    </div>
                </div>
            </div>


        </tr>
        </tbody>


    </table>
</div>
