<h2 class="page-header"><i class="fa fa-pencil"></i> Edit Profile</h2>
<div class="row">
         <!-- left column -->

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
            <img src="css/img/busers.jpg" class="avatar img-circle img-thumbnail" alt="avatar"
                    width="180"
                    height="200">

        </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">



        <form class="form-horizontal" name="clientUpdateForm" ng-submit="submitUpdate(clientUpdateForm.$valid)"
              novalidate>

            <!-- first_name -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.first_name.$invalid && !clientUpdateForm.first_name.$pristine }">

                <label class="col-lg-3 control-label">First Name(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="text" name="first_name" placeholder="First Name"
                           ng-model="client.first_name"
                           autofocus="true" ng-minlength="3" required/>

                    <p ng-show="clientUpdateForm.first_name.$error.minlength" class="help-block">First Name is too
                        short. It must be at least 3 characters.</p>

                </div>
            </div>

            <!-- last_name -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.last_name.$invalid && !clientUpdateForm.last_name.$pristine}">

                <label class="col-lg-3 control-label">Last Name(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="text" name="last_name" placeholder="Last Name"
                           ng-model="client.last_name" ng-minlength="3" required/>

                    <p ng-show="clientUpdateForm.last_name.$error.minlength" class="help-block">Last Name is too short.
                        It must be at least 3 characters. </p>


                </div>
            </div>

            <!-- email-->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.email.$invalid && !clientUpdateForm.email.$pristine }">

                <label class="col-lg-3 control-label">Email(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="email" placeholder="@..." name="email" ng-model="client.email"
                           required/>

                    <p ng-show="clientUpdateForm.email.$invalid && !clientUpdateForm.email.$pristine"
                       class="help-block">Enter a valid email</p>
                </div>
            </div>

            <!-- address -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.address.$invalid && !clientUpdateForm.address.$pristine }">
                <label class="col-lg-3 control-label">Address(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" name="address" type="text" placeholder="city..." ng-model="client.address"
                           ng-minlength="5" required/>

                    <p ng-show="clientUpdateForm.address.$error.minlength" class="help-block">The address is too
                        short. It must be at least 5 characters.</p>
                </div>
            </div>

            <!-- company -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.company.$invalid && !clientUpdateForm.company.$pristine }">
                <label class="col-lg-3 control-label">Company(*):</label>

                <div class="col-lg-8">
                    <input class="form-control" type="text" placeholder="Company" name="company" ng-model="client.company"
                           required/>
                </div>
            </div>

            <!-- client type -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.type_client.$invalid && !clientUpdateForm.type_client.$pristine}">
                <label class="col-lg-3 control-label">Type(*):</label>

                <div class="col-lg-8">

                    <select class="form-control" name="type_client" ng-model="client.type_client" required/>
                    <option value="Entreprise">Entreprise</option>
                    <option value="Particular">Particular</option>
                    </select>


                </div>
            </div>


            <!-- client category-->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.category.$invalid && !clientUpdateForm.category.$pristine}">
                <label class="col-lg-3 control-label">Category(*):</label>

                <div class="col-lg-8">

                    <select name="category" class="form-control"  ng-model="client.category">
                        <option value="Prospect">Prospect</option>
                        <option value="Client">Client</option>
                        <option value="Supplier">Supplier</option>
                        <option value="Partner">Partner</option>
                        <option value="Partner">other</option>

                    </select>

                </div>
            </div>

            <!-- note -->
            <div class="form-group"
                 ng-class="{ 'has-error' : clientUpdateForm.type_client.$invalid && !clientUpdateForm.type_client.$pristine}">
                <label class="col-lg-3 control-label">Note(*):</label>

                <div class="col-lg-8 ">

                    <textarea class="form-control" name="note" placeholder="some note..." ng-model="client.note"></textarea>
                </div>
            </div>

            <!-- submit button -->

            <div class="form-group">
                <label class="col-md-3 control-label"></label>

                <div class="col-md-8">
                    <!--
                     <input class="btn btn-primary" value="Save Changes" type="button" ng-click="submitInsert()">
                     -->

                    <button type="submit" class="btn btn-primary" ng-disabled="clientUpdateForm.$invalid">Submit
                    </button>
                    <span></span>
                    <input class="btn btn-default" value="Cancel" type="button" ng-click="cancelUpdate()">
                </div>
            </div>

        </form>
    </div>
</div>




